/* #E42528 color of favicon */

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
  }
  html, body{
      font-size: 100%;
      font-family: Palatino;
  }

  #contactConfirmation {
    visibility: hidden;
    color: green;
  }

  #contactSection {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    margin-bottom: 10em;
  }

  #contactSection label{
    color: white;
    text-size: 20px;
  }
  /*-- background banner  --*/
  .banner{
      background: #421815;
      background-size: cover;
  }
  /* thin line under the navigation menu*/
  .header {
      border-bottom: solid 1px rgba(134, 134, 134, 0.23);
  }
  /* -- restaurant title --*/
  .restaurantHeader{
    font-size: 50px;
    color: white;
  }
  .logo{
      float:left;
  }
  .logo h1{
      margin:0;
  }
  .logo h1 a{
      font-size: 1.5em;
      font-family: 'Francois One', sans-serif;
      color: black;
      text-decoration: none;
  }
  /*-- top-nav --*/
  .top-nav {
      margin: 2em 0 0 0;
  }
  .top-nav ul{
      padding: 0;
      margin: 0;
  }
  .top-nav ul li{
      display: inline-block;
      margin: 0 1em;
      float: left;
  }
  .top-nav ul li:nth-child(6){
      margin: 0 auto;
  }
  ul.nav.navbar-nav {
      float: right;
  }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
      background: none !important;
      border-right: solid 1px #EFEFEF;
      box-shadow: 1px 0px 0px 0px rgba(72, 72, 72, 0);
  }
  /* navigation bar design */
  .top-nav ul li a{
      color: #fff !important;
      font-size: 20px;
      margin: 0 auto;
      text-decoration: none;
      padding: 0;
      padding-bottom: 1em;
      border-bottom: solid 1px rgba(134, 134, 134, 0);
  }
  /* When you hover over the navigation bar*/
  .top-nav ul li a:hover{
      color: black !important;
  }
  .navbar-default {
      border: none !important;
      background: none !important;
      margin: 0 !important;
      min-height: 0 !important;
      padding: 0 !important;
  }
  .navbar-default .navbar-nav >  a, .navbar-default .navbar-nav > a:hover, .navbar-default .navbar-nav  > a:focus {
      background: none !important;
  }
  div#bs-example-navbar-collapse-1 {
      padding: 0;
  }
  .banner-info{
      text-align: center;
      margin: 6em auto 4em;
      width: 70%;
  }
  .banner-info h2{
      font-size: 3.5em;
      font-family: 'Francois One', sans-serif;
      color: #FFFFFF;
      margin: 0;
  }
  .banner-info p{
      color: #FFFFFF;
      font-size: 1em;
      line-height: 0;
      margin: 1.5em 0 0 0;
  }
  .banner-grad-img {
      width: 100%;
      height: 100%;
      margin: 10px;
      text-align: center;
  }
  .banner-grad-img img{
      width: 100%;
      height: 100%;

  }
  .banner-grad-img h4{
      margin: 1em 0 0 0;
      color: #FFFFFF;
      font-size: 1.5em;
      font-family: Palatino;
  }

  .banner-grad-part2-img {
      width: 100%;
      height: 100%;
      margin: 10px;
      text-align: center;
  }
  .banner-grad-part2-img img{
      width: 100%;
      height: 100%;

  }
  .banner-grad-part2-img h4{
      margin: 1em 0 0 0;
      color: #FFFFFF;
      font-size: 1.5em;
      font-family: Palatino;
  }
  .banner-grad-part2{
    border-bottom: solid 1px rgba(134, 134, 134, 0.23);
    padding-bottom: 3em;
  }

  /* wording over the photo on home page */
  .center-writing {
    position: absolute;
    top: 305px;
    right: 3px;
    font-size: 40px;
    background-color: black;
    background-size: cover;
    opacity: 0.7;
    width: 93%
}
.bigger-center-writing{
    position: absolute;
    top: 310px;
    right: 3px;
    font-size: 35px;
    background-color: black;
    background-size: cover;
    opacity: 0.7;
    width: 93%
}
.banner-grad {
    position: relative;
    text-align: center;
    color: white;
}
  /* end wording over the photo on home page */
  /*-- //banner --*/

  /*-- HOME PAGE FOOTER --*/
  .footer{
      padding: 0 0;
      background: #EAF7FD;
  }
  .footer-heading h3{
      color: black;
      float: right;
      font-size: 15px;
      font-weight: bold;
  }
  .footer-icons ul{
      padding:3em;
      margin:0;
  }
  /* horizontal setting for the social media layout */
  .footer-icons ul li {
      display: inline-block;
      margin: 0 1em;
  }
  /* circle of the icons */
 .footer-icons  ul li a.twitter, a.fa-google-plus-g, a.fab-yelp, a.fab-tripadvisor{
      width: 50px;
      height: 50px;
      display: block;
      margin: 0 auto;
      padding: .8em 0 0 0;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
  }
  i.fa.fa-twitter,i.fa.fa-facebook,i.fa.fa-dribbble, i.fa-google-plus-circle, i.fa.fa-yelp, i.fa.fa-tripadvisor{
      color: #FFF;
      font-size: 1.5em;
  }
  .footer-icons ul li span{
      display: inline;
      margin: 1em 0 0 0;
      color: #000000;
      font-size: 1em;
      font-weight: 600;
  }
  .footer-icons  ul li a.twitter{
      background:#55acee;
  }
  .footer-icons  ul li a.facebook{
      background:#3b5998;
  }
  .footer-icons  ul li a.twitter:hover{
      background: #FD5C63;
  }
  .footer-icons ul li a.fa-google-plus-g{
    background: red;
  }
  .footer-icons ul li a.fab-yelp{
    background: red;
  }
  .footer-icons ul li a.fab-tripadvisor{
    background: black;
  }
  /*-- END HOME PAGE FOOTER  --*/

  /*-- home page customer comments section -- */
  .customer{
      padding: 3em 0;
  }
  .customer-heading-grids {
      margin: 3em 0 0 0;
  }
  .customer-info{
      padding: 1em;
      background: #EAEAEA;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      position: relative;
  }
  .customer-info:after{
      content: '';
      position: absolute;
      bottom: -9%;
      right: 46%;
      width: 0;
      height: 0;
      border-top: 14px solid #EAEAEA;
      border-right: 14px solid transparent;
      border-left: 14px solid transparent;
      transform: rotate(0deg);
  }
  .customer-info p{
      font-size: 1em;
      line-height: 1.5em;
      margin: 0;
      color: #000;
  }
  .customer-img{
      text-align: center;
      width: 40%;
      margin: 2em auto 0;
  }
  .customer-img img{
      width: 100%;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      -ms-border-radius: 50%;
      border: solid 4px #FD5C63;
  }
  .customer-img h5{
      font-size: 1.2em;
      margin: 1em 0 0 0;
      color: #000;
      font-family: 'Francois One', sans-serif;
  }
  /*-- END home page customer comments section -- */


/* -- MENU PAGE STYLE SHEET -- */
.menu-info{
  color: white;
  text-align: center;
  font-size: 36px;
}
.menu-items{
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.menu-description{
  color: white;
  font-size: 16px;
  margin: 0;
  font-style: italic;
}
.seafood-notes, .lunch-notes{
  text-align: center;
  font-size: 16px;
  color: white;
  margin: 0;
}
/* END MENU PAGE STYLE SHEET */

/* ABOUT PAGE STYLE SHEET*/
.about-blurb{
  color: white;
  font-size: 25px;
  text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
/* END ABOUT PAGE STYLE SHEET*/
